.start {
    @include flex();

    &__content {
        @include flex($direction: row);
        position: relative;
        max-width: 1440px;
        width: 100%;
        padding: 0 50px;
        z-index: 0;
    }

    &__left {
        align-self: start;

        &--text {
            @include flex($align: start, $gap: 20px);
            margin: 120px 0 30px;
        }

        h1 {
            @include title-font($size: 80px, $color: $violet);
            line-height: 70px;
            letter-spacing: -0.5px;
            max-width: 525px;
        }

        h2 {
            @include body-font($size: 20px, $color: #000);
            max-width: 450px;
            line-height: 22px;
        }
    }

    &__right {
        position: relative;
        width: fit-content;

        img {
            width: 750px;
            height: auto;
        }

        &--overlay {
            position: absolute;
            top: 0;
            height: 100%;
            width: 20%;
            z-index: 2;
            pointer-events: none;   
            left: -1px;
            background: linear-gradient(to right, $background 0%, transparent 100%);
        }
    }

    &__background {
        &--balls {
            &-1, &-2 {
                position: absolute;
                pointer-events: none;
                z-index: -5;

                img {
                    width: 600px;
                }
            }

            &-1 {
                top: 0;
                right: -150px;
                transform: rotate(-10deg);
            }

            &-2 {
                bottom: -425px;
                left: -80px;
                transform: rotate(-100deg);
            }
        }

        &--fruit {
            &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, 
            &-9, &-10, &-11, &-12, &-13, &-14 {
                position: absolute;
                pointer-events: none;
            }

            &-1 {
                top: 150px;
                right: 200px;
                transform: rotate(90deg);
                z-index: -1;
            }

            &-2 {
                top: 180px;
                right: 165px;
                transform: rotate(200deg);
                z-index: -2;
                filter: blur(1px);
                opacity: 0.4;
            }

            &-3 {
                top: 225px;
                right: 100px;
                transform: rotate(200deg);
                filter: blur(1px);
                opacity: 0.75; 
            }

            &-4 {
                top: 260px;
                right: 110px;
            }

            &-5 {
                top: 300px;
                right: 75px;
                transform: rotate(200deg);
                z-index: -2;
            }

            &-6 {
                bottom: 185px;
                right: 135px;
            }

            &-7 {
                bottom: 235px;
                right: 185px;
                filter: blur(2px);
                z-index: -2;
            }

            &-8 {
                bottom: 175px;
                left: 50px;
                transform: rotate(200deg);
            }

            &-9 {
                bottom: 145px;
                left: 120px;
                transform: rotate(200deg);
                z-index: -2;
                filter: blur(1px);
                opacity: 0.4;
            }

            &-10 {
                bottom: 40px;
                left: 100px;
                transform: rotate(-75deg);
            }

            &-11 {
                bottom: 20px;
                left: 150px;
                filter: blur(1px);
                opacity: 0.8;
                z-index: -2;
            }

            &-12 {
                bottom: 20px;
                left: 280px;
                filter: blur(1.2px);
                transform: rotate(175deg) scaleX(-1);
                opacity: 0.8;
                z-index: -2;
            }

            &-13 {
                bottom: 20px;
                left: 425px;
            }

            &-14 {
                bottom: 60px;
                left: 400px;
                transform: rotate(-155deg);
                z-index: -2;
            }
        }
    }

    &__scroller {
        background-color: $purple-primary;
        width: 100%;
        height: 80px;
        z-index: 2;
    }
}

// Responsive medium 
@include responsive(medium) {
    .start {
        &__content {
            padding: 0 40px;
        }
    }
}

// Responsive small 
@include responsive(small) {
    .start {
        &__content {
            padding: 0 30px;
        }
    }
}