//Colors
$background: #F8F8F8;
$violet: #A267E7;
$purple-primary: #6D64AF;
$purple-secondary: #6E61D4;
$scroller-purple: #8378DA;
$purple-dark: #39326E;
$blue: #477FCA;
$gray-light: #898989;
$gray-lighter: #9F9F9F;
$gray: #3C3C3C;
$gray-dark: #2B2B2B;
$black: #2B2B2B;

// Fonts
$font-raleway: 'Raleway', sans-serif;
$font-poppins: 'Poppins', sans-serif;