.ticker {
  overflow: hidden;
  width: 100%;
  display: flex;

  .ticker-track {
    display: flex;
    animation: ticker 30s linear infinite;

    .testimonial-card {
      margin-right: 40px;
      flex: 0 0 auto;
    }
  }
}

// Animation
@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}
